* {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  margin: 0;
}

/********
Splash Page 
********/

header {    
  background: rgba(33,180,226,1);
  background: -moz-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 97%, rgba(159,245,199,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(33,180,226,1)), color-stop(97%, rgba(159,245,199,1)), color-stop(100%, rgba(159,245,199,1)));
  background: -webkit-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 97%, rgba(159,245,199,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 97%, rgba(159,245,199,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 97%, rgba(159,245,199,1) 100%);
  background: linear-gradient(135deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 97%, rgba(159,245,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21b4e2', endColorstr='#9ff5c7', GradientType=1 );

  height: 100vh;
}

.navigation_page {
  padding: 1em;

  display: flex;
  justify-content: center;

  /*****
  js
  *****/
  transform: translateY(-30px);
}

a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.my_name { 
  display: flex;
  justify-content: center;
  
  /***
  js
  ***/
  opacity: 0;
  transform: translateY(50px);
}

h1 {
  width: 5em;
  text-align: center;
  font-size: 150px;

  color: rgb(255, 255, 1);
}

/********
Intro Page 
********/

.intro {
  height: 130vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: rgba(255,142,122,1);
  background: -moz-linear-gradient(45deg, rgba(255,142,122,1) 0%, rgba(255,142,122,1) 1%, rgba(240,240,50,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,142,122,1)), color-stop(1%, rgba(255,142,122,1)), color-stop(100%, rgba(240,240,50,1)));
  background: -webkit-linear-gradient(45deg, rgba(255,142,122,1) 0%, rgba(255,142,122,1) 1%, rgba(240,240,50,1) 100%);
  background: -o-linear-gradient(45deg, rgba(255,142,122,1) 0%, rgba(255,142,122,1) 1%, rgba(240,240,50,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255,142,122,1) 0%, rgba(255,142,122,1) 1%, rgba(240,240,50,1) 100%);
  background: linear-gradient(45deg, rgba(255,142,122,1) 0%, rgba(255,142,122,1) 1%, rgba(240,240,50,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e7a', endColorstr='#f0f032', GradientType=1 );

}

.intro_text {
  margin: 0;
  padding: 20px;

  font-size: 50px;
  color: white;

  text-align: center;

  /******
  js
  ******/
  transform: translateY(10em);
  opacity: 0;

  
}

/********
Work Page 
********/
.work {
  height: 140vh;

  background-color: rgb(240, 240, 50);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe032+0,ffe032+49,fccc2f+49,fccc2f+100 */
  background: #ffe032; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffe032 0%, #ffe032 49%, #fccc2f 49%, #fccc2f 100%); /* FF3.6-15*/
  background: -webkit-linear-gradient(45deg, #ffe032 0%,#ffe032 49%,#fccc2f 49%,#fccc2f 100%); /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(45deg, #ffe032 0%,#ffe032 49%,#fccc2f 49%,#fccc2f 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe032', endColorstr='#fccc2f',GradientType=1 ); /*IE6-9 fallback on horizontal gradient*/
}

.work_title {
  margin-top: 0;

  font-size: 10em;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-self: center;

  opacity: 0;

  color: white;
}

/**************
Project General
**************/

.project {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  
  margin-bottom: 8em;

  /*****
  JS
  *****/
  transform: translateY(80px);
  opacity: 0;
}

.project_description {
  font-weight: 600;
}

.project_list {
  font-weight: 600;
}

.info {
  margin-top: 3em;
  margin-right: 70px;

  display: flex;
  flex-flow: column;
}

.info_spec {
  align-items: flex-start;
  max-width: 350px;
}

.info_title {
  margin: 1em;
  font-size: 2em;
}

.info_spec_title {
  margin: 30px 0;
  
  font-size: 2em;
}

.info_img {
  display: flex;
  justify-content: center;
  background-color: #f8ce81;
}

.info_img_thefork {
  display: flex;
  justify-content: center;
  background-color: #9fd4e4;
}

.info_img_pingo {
  display: flex;
  justify-content: center;
  background-color: #fe8278;
}


.info_img_svolta {
  display: flex;
  justify-content: center;
  background-color: #ffeee7;
}

.info_img_videomaking {
  display: flex;
  justify-content: center;
  background-color: #fdff6d;
}

.link_to_product { 
  margin: 0;
  padding: 0.5em 2em;

  display: block;

  position: relative;

  overflow: hidden;

  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;

  border-radius: 20px;

  transform: translateY(40px);
}

.link_to_product:after {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;

  background-color: #f8ce81;
  

  transition: all .2s ease-out;
}

.link_to_product:hover:after {
  top:0;
}

.link_to_product_thefork:after {
  background-color: #9fd4e4;
}

.link_to_product_pingo:after {
  background-color: #fe8278;
}

.link_to_product_svolta:after {
  background-color: #ffeee7;
}

.link_to_product_video:after {
  background-color: #fdff6d;
}

.link_page:hover {
  border: 0;
  color: white;
  transition: backgroundcolor 1s ease-in-out;
}

.project_img {
  margin: 70px 0px;
  overflow: visible;
  height: 500px;
}

/**********
JS images
**********/
.j-img_fendi {
  transform: translateX(-35em);
  opacity: 0;
}

.j-img_thefork {
  transform: translateY(15em);
  opacity: 0;
}

.j-img_pingo {
  opacity: 0;
}

.j-img_svolta {
  transform: translateX(-500px);
  opacity: 0;
}

.j-img_video {
  opacity: 0;
}


/**********
Footer
**********/

footer {
  margin: 0;

  height: 150px;



  background: rgba(33,180,226,1);
  background: -moz-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 91%, rgba(159,245,199,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(33,180,226,1)), color-stop(91%, rgba(159,245,199,1)), color-stop(100%, rgba(159,245,199,1)));
  background: -webkit-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 91%, rgba(159,245,199,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 91%, rgba(159,245,199,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 91%, rgba(159,245,199,1) 100%);
  background: linear-gradient(135deg, rgba(33,180,226,1) 0%, rgba(159,245,199,1) 91%, rgba(159,245,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21b4e2', endColorstr='#9ff5c7', GradientType=1 );  
}

.footer_part {
  padding: 3em;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.footer_title {
  font-size: 50px;

  margin: 0;
}

.footer_index {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
}

.footer_description {
  margin: 30px;
  display: flex;
  flex-flow: column;
}

.footer_text {
  max-width: 500px;
}

.footer_img {  
  border-radius: 20px;
 
  height: 200px;
}

.my_description {
  display: flex;

  flex-flow: column;

  align-items: center;
}

.contact_list {
  margin: 0;

  display: flex;
  justify-content: center;
}

.contact {
  margin: 5px;
  
  list-style: none;

  transform: translateY(20px);
}

.contact_img {
  width: 30px;
}

.back_to_main { 
  margin: 0;
  padding: 0.5em 2em;

  display: block;

  position: relative;

  overflow: hidden;

  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
  margin: 50px;

  border-radius: 20px;
}

.back_to_main:after {
  content: "";

  width: 100%;
  height: 100%;

  z-index: -1;
  background-color: #fe9689;

  transition: all .2s ease-out;
}

.back_to_main:hover:after {
  top:0;
}

.back_to_main:hover {
  border: 0;
  background-color: #fe9689;
  color: white;
  transition: backgroundcolor 1s ease-in-out;
}

.to_top_link {
 display: flex;
 justify-content: center;
 align-items: center; 

 color: black;
}

/***********
Responsivnes
***********/

@media (max-width: 1120px)  {

  .project_img {
   height: 450px;
    
  }

  .img_videomaking {
    height: 450px;
  }

  .img_pingo {
    height: 450px;
  }

  h1 {
    transform: scale(.8);
  }

  .info {
    margin-right: 30px;
  }
}

@media (max-width:900px) {
  .info {
    margin-top: 3em;
    margin-right: 10px;
  }
}

@media (max-width: 750px)  {

  .work_title {
    font-size: 7em;
  }

  .project_img {
    height: 300px;
    
  }

  .img_svolta {
    height: 15em;
  }

  .img_videomaking {
    height: 230px;
  }

  .img_pingo {
    height: 210px;
  }

  h1 {
    transform: scale(.7);
  }

  .info {
    margin:10px;
    padding: 1px;
  }

  .info_title {
    margin: auto;
  }

  .info_spec{
    margin-top: 0
  }

  .project {
    margin-top: 3em;
    margin-bottom: 10em;

    justify-content: flex-start;
  }
} 


/*****
MOBILE
*****/

@media (max-width: 450px)  {

  .intro {
    height: 140vh;
  }

  .intro_text {
    padding: 25px;

    font-size: 35px;
  }

  h1 {
    transform: scale(.5);
    position: absolute;
  }
  
  .project_img {
    height: 250px;
  }

  .img_videomaking {
    height: 180px;
  }

  .img_pingo {
    height: 165px;
  }

  .img_svolta {
    height: 215px;
  }

  .work_title {
    font-size: 100px;
  }

  .project {
    margin: 10px;
    margin-bottom: 2em;

    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .info {
    margin: 0;
    padding: 15px;
    width: 100%;
  }

  .info_title {
    margin: 0;
    font-size: 2em;
  }

  .link_to_product {
    margin-top: 5px;
    margin-bottom: 30px;
    
    align-self: center;

    font-weight: 600;
  }

  .contact_list {
    justify-content: center;
    padding: 0;
  }

  .footer {
    height: 160px;
  }
}

@media (max-width: 380px)  {
  .project_img {
    height: 250px;
  }

  .img_videomaking {
    height: 150px;
  }

  .img_pingo {
    height: 150px;
  }

  .img_svolta {
    height: 170px;
  }

  .work_title {
    font-size: 100px;
  }
}







/**********
ABOUT ME MOBILE
**********/

@media (max-width: 450px) {
  .footer_img {
    border-radius: 10px;
    width: 316px;
    height: 180px;
  }

  .footer_text {
    max-width: 500px;
    font-size: 13px;
  }

  .footer_part {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px;
    padding: 0;
  }

  .footer_title {
    font-size: 65px;
    margin: 0;
    text-align: center;
  }
}  

