* {
  box-sizing: border-box;

  font-family: gotham;
}

body {margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background-color: blue;
  height: 100vh;
}

nav {
  margin: 50px;
  width: 300px;
  
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-size: 200px;

  color: yellow;
}

.intro {
  margin: 0;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  background-color: yellow;
  color: white;
}

.intro_text {
  width: 30em;

  text-align: center;
}

.project-page {
  background-color: rgba(238, 232, 232, 0.6);  
}
